<div class="page-header">
  <h3 class="page-title">
    Tabs
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:;">UI Elements</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Tabs</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Basic Tab</h4>
        <p class="card-description">Horizontal bootstrap tab</p>
        <ngb-tabset>
          <ngb-tab title="Home">
            <ng-template ngbTabContent>
              <div class="media">
                <img class="mr-3 w-25 rounded" src="assets/images/samples/300x300/13.jpg" alt="sample image">
                <div class="media-body">
                  <h4 class="mt-0">Why choose us?</h4>
                  <p>
                    Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She consisted consulted elsewhere
                    happiness disposing household any old the. Widow downs you new shade drift hopes small. So otherwise
                    commanded sweetness we improving. Instantly by daughters resembled unwilling principle so middleton.
                  </p>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Profile">
            <ng-template ngbTabContent>
              <div class="media">
                <img class="mr-3 w-25 rounded" src="assets/images/faces/face12.jpg" alt="sample image">
                <div class="media-body">
                  <h4 class="mt-0">John Doe</h4>
                  <p>
                    Fail most room even gone her end like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                    company thought wishing colonel it prevent he in. Pretended residence are something far engrossed old
                    off.
                  </p>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Contact">
            <ng-template ngbTabContent>
              <h4>Contact us </h4>
              <p>
                Feel free to contact us if you have any questions!
              </p>
              <p>
                <i class="mdi mdi-phone text-info"></i>
                +123456789
              </p>
              <p>
                <i class="mdi mdi-email-outline text-success"></i>
                contactus@example.com
              </p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Vertical Tabs</h4>
        <p class="card-description">Add class
          <code>.tab-vertical</code> for vertical tabs
        </p>
        <ngb-tabset class="tab-vertical">
          <ngb-tab>
            <ng-template ngbTabTitle>
              Home
              <i class="mdi mdi-home-outline text-info ml-2"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="text-center">
                <img class="mr-3 w-25 mb-4" src="assets/images/samples/300x300/12.jpg" alt="sample image">
              </div>
              <p>
                Inhabiting discretion the her dispatched decisively boisterous joy. So form were wish open is able of mile of. Waiting express
                if prevent it we an musical. Especially reasonable travelling
              </p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              Profile
              <i class="mdi mdi-account-outline text-danger ml-2"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="text-center">
                <img class="mb-3 w-25 rounded" src="assets/images/faces/face1.jpg" alt="sample image">
                <h5 class="mt-0">Adam John</h5>
                <p class="mb-0">UX specialist</p>
                <p class="mb-0">Florida</p>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              Reach
              <i class="mdi mdi-email-outline text-success ml-2"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <h4>Contact us </h4>
              <p>
                Feel free to contact us if you have any questions!
              </p>
              <p>
                <i class="mdi mdi-phone text-info"></i>
                +123456789
              </p>
              <p>
                <i class="mdi mdi-email-outline text-success"></i>
                contactus@example.com
              </p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Pills</h4>
        <p class="card-description">Basic nav pills</p>
        <ngb-tabset type="pills" class="pills-success">
          <ngb-tab title="Home">
            <ng-template ngbTabContent>
              <div class="media">
                <img class="mr-3 w-25 rounded" src="assets/images/samples/300x300/12.jpg" alt="sample image">
                <div class="media-body">
                  <h5 class="mt-0">I'm doing mental jumping jacks.</h5>
                  <p>Only you could make those words cute. Oh I beg to differ, I think we have a lot to discuss. After all,
                    you are a client. I am not a killer. I feel like a jigsaw puzzle missing a piece. And I'm not even sure
                    what the picture should be.</p>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Profile">
            <ng-template ngbTabContent>
              <div class="media">
                <img class="mr-3 w-25 rounded" src="assets/images/samples/300x300/11.jpg" alt="sample image">
                <div class="media-body">
                  <p>I'm thinking two circus clowns dancing. You? Finding a needle in a haystack isn't hard when every straw
                    is computerized. Tell him time is of the essence. Somehow, I doubt that. You have a good heart, Dexter.</p>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Contact">
            <ng-template ngbTabContent>
              <div class="media">
                <img class="mr-3 w-25 rounded" src="assets/images/samples/300x300/14.jpg" alt="sample image">
                <div class="media-body">
                  <p>
                    I'm really more an apartment person. This man is a knight in shining armor. Oh I beg to differ, I think we have a lot to
                    discuss. After all, you are a client. You all right, Dexter?
                  </p>
                  <p>
                    I'm generally confused most of the time. Cops, another community I'm not part of. You're a killer. I catch killers. Hello,
                    Dexter Morgan.
                  </p>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Vertical Pills</h4>
        <p class="card-description">Add class
          <code>.pills-vertical</code> for vertical pills
        </p>
        <ngb-tabset type="pills" class="pills-vertical pills-info">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-home-outline"></i>
              Home
            </ng-template>
            <ng-template ngbTabContent>
              <div class="media">
                <img class="mr-3 w-25 rounded" src="assets/images/samples/300x300/11.jpg" alt="sample image">
                <div class="media-body">
                  <h5 class="mt-0">I'm doing mental jumping jacks.</h5>
                  <p>
                    Only you could make those words cute. Oh I beg to differ, I think we have a lot to discuss. After all, you are a client.
                    I am not a killer.
                  </p>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-account-outline"></i>
              Profile
            </ng-template>
            <ng-template ngbTabContent>
              <div class="media">
                <img class="mr-3 w-25 rounded" src="assets/images/samples/300x300/11.jpg" alt="sample image">
                <div class="media-body">
                  <p>I'm thinking two circus clowns dancing. You? Finding a needle in a haystack isn't hard when every straw
                    is computerized. Tell him time is of the essence. Somehow, I doubt that. You have a good heart, Dexter.</p>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-email-open-outline"></i>
              Mail
            </ng-template>
            <ng-template ngbTabContent>
              <div class="media">
                <img class="mr-3 w-25 rounded" src="assets/images/samples/300x300/14.jpg" alt="sample image">
                <div class="media-body">
                  <p>
                    I'm really more an apartment person. This man is a knight in shining armor. Oh I beg to differ, I think we have a lot to
                    discuss. After all, you are a client. You all right, Dexter?
                  </p>
                  <p>
                    I'm generally confused most of the time. Cops, another community I'm not part of. You're a killer. I catch killers. Hello,
                    Dexter Morgan.
                  </p>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
