<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/buttons" routerLinkActive="active">
        <span class="menu-title">Buttons</span>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dropdowns" routerLinkActive="active">
        <span class="menu-title">Dropdowns</span>
        <i class="mdi mdi-arrow-down-drop-circle-outline menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/forms" routerLinkActive="active">
        <span class="menu-title">Form Elements</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/badges" routerLinkActive="active">
        <span class="menu-title">Badges</span>
        <i class="mdi mdi-label-outline menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tables" routerLinkActive="active">
        <span class="menu-title">Tables</span>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/alerts" routerLinkActive="active">
        <span class="menu-title">Alerts</span>
        <i class="mdi mdi-forum menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/breadcrumbs" routerLinkActive="active">
        <span class="menu-title">Breadcrumbs</span>
        <i class="mdi mdi-security menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pagination" routerLinkActive="active">
        <span class="menu-title">Pagination</span>
        <i class="mdi mdi-arrow-all menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/accordions" routerLinkActive="active">
        <span class="menu-title">Accordions</span>
        <i class="mdi mdi-animation menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tabs" routerLinkActive="active">
        <span class="menu-title">Tabs</span>
        <i class="mdi mdi-tab menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tooltips" routerLinkActive="active">
        <span class="menu-title">Tooltips</span>
        <i class="mdi mdi-tooltip-outline-plus menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/carousel" routerLinkActive="active">
        <span class="menu-title">Carousel</span>
        <i class="mdi mdi-image-multiple menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/progress" routerLinkActive="active">
        <span class="menu-title">Progress</span>
        <i class="mdi mdi-poll menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/icons" routerLinkActive="active">
        <span class="menu-title">Icons</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/typography" routerLinkActive="active">
        <span class="menu-title">Typography</span>
        <i class="mdi mdi-format-color-text menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
