/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import './assets/styles/variables';
@import "../node_modules/compass-mixins/lib/compass";
@import "../node_modules/compass-mixins/lib/animate";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/mdi/scss/materialdesignicons";
@import "./assets/styles/fonts";
@import "./assets/styles/functions";
@import "./assets/styles/mixins/animation";
@import "./assets/styles/mixins/badges";
@import "./assets/styles/mixins/buttons";
@import "./assets/styles/mixins/misc";
@import "./assets/styles/mixins/color-functions";
@import "./assets/styles/mixins/cards";
@import "./assets/styles/mixins/blockqoute";
@import "./assets/styles/mixins/popovers";
@import "./assets/styles/mixins/tooltips";
@import "./assets/styles/background";
@import "./assets/styles/forms";
@import "./assets/styles/icons";
@import "./assets/styles/tables";
@import "./assets/styles/accordions";
@import "./assets/styles/buttons";
@import "./assets/styles/breadcrumbs";
@import "./assets/styles/badges";
@import "./assets/styles/cards";
@import "./assets/styles/typography";
@import "./assets/styles/preview";
@import "./assets/styles/tooltips";
@import "./assets/styles/popovers";
@import "./assets/styles/lists";
@import "./assets/styles/bootstrap-progress";
@import "./assets/styles/bootstrap-alerts";
@import "./assets/styles/tabs";
@import "./assets/styles/dropdowns";
@import "./assets/styles/pagination";
@import "./assets/styles/reset";
@import "./assets/styles/responsive";
@import "./assets/styles/misc";
@import "./assets/styles/utilities";
@import "./assets/styles/demo";
